@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');


.the-div{
    text-align: center;
}

.header1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin-top: 160px;
}
.img-fonts{
    position: relative;
    top: 30px;
}

.header2{
    font-family: 'Nunito Sans', sans-serif;
    color: #7E7E7E;
}

.hiw-btn{
    color: #ffffff;
    background-color: #00B2FF;
    border: none;
    padding: 10px 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 50px;
    transition: 0.4s;
  }
.hiw-btn:hover{
    background-color: #67d1ff;
    cursor: pointer;
  }

  .img-podcast{
      margin: -200px auto;
  }